doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    title abcjs basic demo
    script(src='/abcjs_basic_1.12-min.js', type='text/javascript')
  body
    h1 abcjs basic demo
    #notation
    script(type='text/javascript').
      var cooleys = "M: 4/4\\nL: 1/8\nK: Emin\n|:EB{c}BA B2 EB|~B2 AB dBAG|\n";
      console.log(cooleys);
      ABCJS.renderAbc('notation', cooleys);
      // return false;