doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    | &#x9;
    title Add Lick To DB
    | &#x9;
    script(src='abcjs_editor_1.12-min.js', type='text/javascript')
  body
    h1
      | Add Lick To DB
      h1
        form(action='licksubmit', method='POST')
          | Type: 
          input(type='text', name='type')
          |  
          br
          | Key: 
          input(type='text', name='key')
          |  
          br
          | Meter: 
          input(type='text', name='meter')
          |  
          br
          textarea#abc(name='licktext', cols='80', rows='15')
            | X: 1
            | T: Cooley&apos;s
            | M: 4/4
            | L: 1/8
            | R: reel
            | K: Emin
            | |:D2|EB{c}BA B2 EB|~B2 AB dBAG|FDAD BDAD|FDAD dAFD|
            | EBBA B2 EB|B2 AB defg|afe^c dBAF|DEFD E2:|
            | |:gf|eB B2 efge|eB B2 gedB|A2 FA DAFA|A2 FA defg|
            | eB B2 eBgB|eB B2 defg|afe^c dBAF|DEFD E2:|
          hr
          #midi
          #warnings
          #music
          #paper
          script(type='text/javascript').
            window.onload = function() {
            abc_editor = new ABCJS.Editor("abc", { paper_id: "paper", warnings_id:"warnings" });
            }
          input(type='submit', value='Submit')
