extends layout

block content
    .container(align='center')
        h1 Licks for #{type} chords:
        .jumbotron
            each lick, i in results
                div(id=i.toString())
                script(type="text/javascript").
                    var num = #{i};
                    ABCJS.renderAbc(num.toString(), '#{lick.lick}');
